* {
    /* background-color: peru; */
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

.wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper.indexPage {
    justify-content: center;
    background-image: url("../assets/img/background/annie-spratt-44241-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .searchContainer {
    width: 100%;
}

.mainSection .searchContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer .searchButton {
    color: navy;
    background-color: seashell;
    border: none;
    height: 36px;
    width: 125px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.mainSection .searchContainer .searchBox {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 1%;
}

.mainSection .logoContainer {
    text-align: center;
}

.logoContainer img{
    width: 100%;
}

.header {
    background-color: coral;
    border-bottom: peachpuff;
}

.wrapper .headerContent {
    display: flex;
    align-items: center;
}

.headerContent .logoContainer {
    width: 300px;
    padding:  5px 20px;
    box-sizing: border-box;
}

.headerContent .searchContainer{
    flex: 1;
}

.headerContent .searchContainer form {
    margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer {
    height: 44px;
    border-radius: 2px;
    background-color: Coral;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 70%;
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}

.headerContent .searchBarContainer .searchBox {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    color: seashell;
    font-weight: 400;
}