* {
    
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

.wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: seashell;
}

.wrapper.indexPage {
    justify-content: center;
    background-image: url("../assets/img/background/annie-spratt-R3LcfTvcGWY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchButton {
    color: seashell;
    background-color: cadetblue;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.mainSection .searchContainer{
    flex: 1;
}

.mainSection .searchContainer form {
    margin: 15px 0 28px 0;
}

.mainSection .searchBarContainer {
    height: 44px;
    border-radius: 2px;
    background-color: seashell;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(0, 0, 0, 0.08);
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}

.mainSection .searchBarContainer .searchBox {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.mainSection .logoContainer {
    text-align: center;
}

.logoContainer img{
    width: 100%;
}

.header {
    background-image: url("../assets/img/background/annie-spratt-R3LcfTvcGWY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
}

.wrapper .headerContent {
    display: flex;
    align-items: center;
}

.headerContent .logoContainer {
    width: 300px;
    padding:  5px 20px;
    box-sizing: border-box;
}

.headerContent .searchContainer{
    flex: 1;
}

.headerContent .searchContainer form {
    margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer {
    height: 44px;
    border-radius: 2px;
    background-color: seashell;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 70%;
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}

.headerContent .searchBarContainer .searchBox {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.tabsContainer {
    margin-left: 150px;
}

.tabsContainer .tabsList {
    padding: 0;
    margin: 0;
}

.tabsContainer .tabsList li {
    display: inline-block;
    padding: 0 16px 12px 16px;
    color: seashell;
    font-size: 13px;
}

.tabsContainer .tabsList li a {
    text-decoration: none;
    color: seashell;
}

.tabsContainer .tabsList li.active {
    border-bottom: 3px solid seashell;
}

.tabsContainer .tabsList li.active a{
    font-weight: bold;
    color: seashell;
}